{% extends 'base.html' %}

{% block head %}
<title>Terraformix - Create Template</title>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Create a Terraform Template</h1>

    <!-- Single Region Selector -->

    <!-- Shortcut buttons to add sections dynamically -->
    <div class="shortcut-container">
        <button type="button" onclick="showSection('ec2Section')">Configure EC2 Instance</button>
        <button type="button" onclick="showSection('vpcSection')">Configure VPC</button>
        <button type="button" onclick="showSection('s3Section')">Configure S3 Bucket</button>
    </div>

    <!-- Unified form with a dynamic section container for adding configurations -->
    <form action="/generate" method="POST">
        <label for="region">Select Region:</label>
        <select id="region" name="region" required>
            <option value="">Select Region</option>
            {% for region in regions %}
                <option value="{{ region }}">{{ region }}</option>
            {% endfor %}
        </select><br><br>
        <!-- Dynamic container for new sections -->
        <div id="dynamicSectionContainer"></div>

        <!-- Submit Button -->
        <input type="submit" value="Generate Template">
    </form>
</div>
{% endblock %}
